<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.peiwen.mapper.EduCourseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.peiwen.entity.EduCourse">
        <id column="id" property="id" />
        <result column="teacher_id" property="teacherId" />
        <result column="subject_id" property="subjectId" />
        <result column="subject_parent_id" property="subjectParentId" />
        <result column="title" property="title" />
        <result column="price" property="price" />
        <result column="lesson_num" property="lessonNum" />
        <result column="cover" property="cover" />
        <result column="buy_count" property="buyCount" />
        <result column="view_count" property="viewCount" />
        <result column="version" property="version" />
        <result column="status" property="status" />
        <result column="is_deleted" property="isDeleted" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, teacher_id, subject_id, subject_parent_id, title, price, lesson_num, cover, buy_count, view_count, version, status, is_deleted, gmt_create, gmt_modified
    </sql>
<!--sql语句：根据课程id查询课程确认信息-->
    <select id="getPublishCourseInfo" resultType="com.example.peiwen.entity.vo.CoursePublishVo">
        SELECT
            c.id,
            c.title,
            c.cover,
            c.lesson_num AS lessonNum,
            CONVERT(c.price, DECIMAL(8,2)) AS price,
            s1.title AS subjectLevelOne,
            s2.title AS subjectLevelTwo,
            t.name AS teacherName
        FROM
            edu_course c
                LEFT JOIN edu_teacher t ON c.teacher_id = t.id
                LEFT JOIN edu_subject s1 ON c.subject_parent_id = s1.id
                LEFT JOIN edu_subject s2 ON c.subject_id = s2.id
        WHERE
            c.id = #{courseId}
    </select>
<!--    ${id}表示字符串拼接，会产生SQL注入问题-->
</mapper>
